[CRAB]
jobtype = cmssw
scheduler = remoteGlidein
use_server = 0

[CMSSW]
dbs_url=https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet
#http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet
datasetpath=/LHE2EDM_Madgraph_2to7_ttA_Factorized/tarndt-LHE2EDM_Madgraph_2to7_ttA_Factorized-8557a4eda4fcc1bd58be0e4733f9440d/USER 


pset=../../../GenFULLSIM/python/Hadronizer_TuneZ2star_8TeV_generic_LHE_pythia_tauola_cff_py_GEN_SIM_DIGI_L1_DIGI2RAW_HLT_PU.py
number_of_jobs=3750
total_number_of_events=-1
output_file=out_STEP1.root

[USER]
return_data = 0
copy_data = 1
storage_element=T2_DE_RWTH  
publish_data=1
publish_data_name=FULLSIM_STEP1_MADGRAPH_2to7_ttA_Factrorized
user_remote_dir=/20131111/FULLSIM_STEP1_MADDGRAPH_2to7_ttA_Facorized/
dbs_url_for_publication=https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet

[GRID]
group=dcms
se_white_list=T2_DE_RWTH



